**复习：**在前面我们已经学习了Pandas基础，第二章我们开始进入数据分析的业务部分，在第二章第一节的内容中，我们学习了**数据的清洗**，这一部分十分重要，只有数据变得相对干净，我们之后对数据的分析才可以更有力。而这一节，我们要做的是数据重构，数据重构依旧属于数据理解（准备）的范围。

#### 开始之前，导入numpy、pandas包和数据

In [1]:
# 导入基本库
import numpy as np
import pandas as pd

In [2]:
# 载入上一个任务人保存的文件中:result.csv，并查看这个文件
text = pd.read_csv('result.csv')
text.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 2 第二章：数据重构

## 第一部分：数据聚合与运算

### 2.6 数据运用

#### 2.6.1 任务一：通过教材《Python for Data Analysis》P303、Google or anything来学习了解GroupBy机制

In [3]:
#写入心得
#df.groupby(分组依据)[数据来源].使用操作

#### 2.4.2：任务二：计算泰坦尼克号男性与女性的平均票价

In [5]:
# 写入代码
text.groupby(['Sex'])['Fare'].mean()

Sex
female    44.479818
male      25.523893
Name: Fare, dtype: float64

在了解GroupBy机制之后，运用这个机制完成一系列的操作，来达到我们的目的。

下面通过几个任务来熟悉GroupBy机制。

#### 2.4.3：任务三：统计泰坦尼克号中男女的存活人数

In [7]:
# 写入代码
text.groupby(['Sex'])['Survived'].sum()

Sex
female    233
male      109
Name: Survived, dtype: int64

#### 2.4.4：任务四：计算客舱不同等级的存活人数

In [8]:
# 写入代码
text.groupby(['Pclass'])['Survived'].sum()

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

【**提示：**】表中的存活那一栏，可以发现如果还活着记为1，死亡记为0

【**思考**】从数据分析的角度，上面的统计结果可以得出那些结论

#### 思考心得 

女性平均票价高于男性，可能是因为在这艘船上女性更多的是贵族，坐一等舱，

男性更多是劳工或者穷人，坐三等舱，正如泰坦尼克号这部电影里面描述的男女主一样。

女性的生存人数高于男性，大约是男性的两倍。

一等舱和三等舱生还人数较多，但是还需进一步计算生还率才有意义。

【思考】从任务二到任务四中，这些运算可以通过agg()函数来同时计算。并且可以使用rename函数修改列名。你可以按照提示写出这个过程吗？

In [25]:
#思考心得
gb  = text.groupby('Sex')[['Survived', 'Fare']]
gb.agg({'Fare': 'mean', 'Survived': 'sum'}).rename(columns={'Fare': 'mean_sex', 'Survived': 'sum_Survived'})

         mean_sex  sum_Survived
Sex
female  44.479818           233
male    25.523893           109

In [30]:
gb  = text.groupby('Pclass')['Survived']
gb.agg( ['sum']).rename(columns={ 'Survived': 'sum_Survived'})

        sum
Pclass
1       136
2        87
3       119

#### 2.4.5：任务五：统计在不同等级的票中的不同年龄的船票花费的平均值

In [31]:
# 写入代码
text.groupby(['Pclass','Age'])['Fare'].mean().head()

Pclass  Age
1       0.92     151.5500
        2.00     151.5500
        4.00      81.8583
        11.00    120.0000
        14.00    120.0000
Name: Fare, dtype: float64

#### 2.4.6：任务六：将任务二和任务三的数据合并，并保存到sex_fare_survived.csv

In [32]:
# 写入代码
means=text.groupby(['Sex'])['Fare'].mean()
survived_sex=text.groupby(['Sex'])['Survived'].sum()
result = pd.merge(means,survived_sex,on='Sex')
result

             Fare  Survived
Sex
female  44.479818       233
male    25.523893       109

In [33]:
result.to_csv('sex_fare_survived.csv')

#### 2.4.7：任务七：得出不同年龄的总的存活人数，然后找出存活人数的最高的年龄，最后计算存活人数最高的存活率（存活人数/总人数）

In [39]:
# 写入代码
survived_age = text.groupby(['Age'])['Survived'].sum()
survived_age.head()

Age
0.42    1
0.67    1
0.75    2
0.83    2
0.92    1
Name: Survived, dtype: int64

In [40]:
# 写入代码
#找出最大值的年龄段
survived_age[survived_age.values==survived_age.max()]

Age
24.0    15
Name: Survived, dtype: int64

In [41]:
# 写入代码，总人数
_sum = text['Survived'].sum()
print(_sum)

342

In [43]:
# 写入代码，最大存活率：
survived_age.max()/_sum

0.043859649122807015